html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #153677, #4e085f);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

span {
  background: transparent;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
}

.main-photo {
  width: 100%; /* or a fixed size, width: 300px; */
  max-width: 900px; /* Maximum image width */
  height: 600px; /* Fixed height */
  object-fit: cover; /* Cropping an image to preserve aspect ratio */
  border-radius: 10px;
}

.small-photo {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.photos-carousel {
  display: flex; /* Располагает дочерние элементы в ряд */
  overflow-x: auto; /* Добавляет прокрутку по горизонтали, если элементы не помещаются */
  gap: 10px; /* Расстояние между фотографиями */
  padding: 10px 0; /* Вертикальный отступ для карусели */
}

.photos-carousel img {
  flex: 0 0 auto; /* Элементы не растягиваются и не сжимаются, но могут быть базовой ширины */
  width: 200px; /* Фиксированная ширина для каждого изображения */
  height: 150px; /* Фиксированная высота для каждого изображения */
  object-fit: cover; /* Обеспечивает, что изображения будут обрезаны для подгонки, сохраняя аспект */
}

.description {
  align-self: flex-start;
  margin: 5px 450px;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}
