/* Импортируем шрифт 'Roboto' с Google Fonts для использования в игре */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Глобальные стили */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: #333; /* Стандартный цвет текста */
  background-color: #f4f4f4;
}

/* Основной контейнер */
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100vh; /* Высота на всю доступную высоту вьюпорта */
  padding: 20px; /* Внутренний отступ */
}

.main-container {
  display: flex;
  align-items: center;
}

/* Стили для логотипа игры */
div .logo {
  margin: 0px 0 10px 0;
  text-align: center; /* Выравнивание по центру */
}

div .showMe {
  margin: 10px 0 20px 0;
}

/* Стили для заголовка */
h1 {
  font-weight: 900;
  font-size: 1.8rem;
  color: #5a5a5a; /* Цвет заголовка */
}

/* Стилизация секретного слова */
div .secret {
  border: 1px solid #333; /* Чёрная рамка */
  padding: 20px;
  margin: 0px 0;
  text-align: center; /* Выравнивание текста по центру */
}

/* Панель с информацией или действиями */
div .panel {
  margin: 10px 0;
  text-align: center; /* Выравнивание по центру */
}

/* Контейнер для кнопок выбора слова */
.selectWord {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; /* Расстояние между кнопками */
  width: 100%;
  max-width: 600px; /* Максимальная ширина области с кнопками */
  padding: 0; /* Убедимся, что внутренние отступы не влияют на ширину */
  box-sizing: border-box;
  margin: 10px auto;
}

/* Стилизация кнопок алфавита */
button[id^="btn"] {
  flex: 0 0 calc(20% - 20px); /* Уменьшаем ширину кнопок */
  height: 40px; /* Высота кнопок для единообразия */
  padding: 8px; /* Уменьшенный внутренний отступ */
  margin: 5px; /* Отступ между кнопками */
  border: 1px solid #bdbdbd; /* Тонкая граница вокруг кнопок */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #e7e7e7;
  text-align: center;
  box-sizing: border-box; /* Включаем padding и border в ширину кнопки */
}

/* Стили для активной кнопки */
button[id^="btn"]:active,
button[id^="btn"]:focus {
  background-color: #a4a4a4; /* Тёмно-серый фон при клике или фокусе */
  color: white; /* Белый текст */
}

/* При наведении изменяем фон кнопок */
button[id^="btn"]:hover {
  background-color: #d7d7d7; /* Светло-серый фон при наведении */
}

/* Стили для кнопок с правильной и неправильной буквой */
button.correct {
  background-color: #5cb85c; /* Зелёный цвет для правильных ответов */
  color: white; /* Белый цвет текста */
}

button.wrong {
  background-color: #d9534f; /* Красный цвет для ошибок */
  color: white; /* Белый цвет текста */
}

#resetButton {
  padding: 8px; /* Уменьшенный внутренний отступ */
  margin: 5px; /* Отступ между кнопками */
  border: 1px solid #bdbdbd; /* Тонкая граница вокруг кнопок */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #e7e7e7;
  text-align: center;
}

#hint {
  padding: 8px; /* Уменьшенный внутренний отступ */
  margin: 5px; /* Отступ между кнопками */
  border: 1px solid #bdbdbd; /* Тонкая граница вокруг кнопок */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #e7e7e7;
  text-align: center;
}

.poweredby {
  font-size: 0.6rem;
  text-align: center;
  color: #c5c8c9;
}
