/* Import the 'Roboto' font from Google Fonts for use in the game */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* GLOBAL STYLE */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: #333;
  background-color: #f4f4f4;
}

/* Main container */
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.showMe {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats {
  margin-left: 20px;
}

.showMe img {
  max-width: 100%;
  height: auto;
}

/* Logo style*/
div .logo {
  margin: 0px 0 10px 0;
  text-align: center;
}

h1 {
  font-weight: 900;
  font-size: 1.8rem;
  color: #5a5a5a;
}

/* Secret word style */
div .secret {
  border: 1px solid #333;
  padding: 20px;
  margin: 30px 0;
  text-align: center;
}

div .panel {
  margin: 10px 0;
  text-align: center;
}

.selectWord {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
  max-width: 600px;
  padding: 0;
  box-sizing: border-box;
  margin: 10px auto;
}

/* Buttons Style */
button[id^="btn"] {
  flex: 0 0 calc(20% - 20px);
  height: 40px;
  padding: 8px;
  margin: 5px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #e7e7e7;
  text-align: center;
  box-sizing: border-box;
}

/* Styles for active button */
button[id^="btn"]:active,
button[id^="btn"]:focus {
  background-color: #a4a4a4;
  color: white;
}

button[id^="btn"]:hover {
  background-color: #d7d7d7;
}

/* Styles for buttons with correct and incorrect letter */
button.correct {
  background-color: #5cb85c;
  color: white;
}

button.wrong {
  background-color: #d9534f;
  color: white;
}

#resetButton {
  padding: 8px;
  margin: 5px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #e7e7e7;
  text-align: center;
}

#hint {
  padding: 8px;
  margin: 5px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #e7e7e7;
  text-align: center;
}

.poweredby {
  font-size: 0.6rem;
  text-align: center;
  color: #c5c8c9;
}
