* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #fff;
	height: 100vh;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
	position: relative;
	background: #fff;
	width: 70%;
	min-width: 420px;
	max-width: 900px;
	border-radius: 8px;
	padding: 20px;
	margin: auto;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.45);
	text-align: center;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.main {
	margin: 150px;
}

h2 {
	padding: 0px 0px 30px 0;
	font-size: 24pt;
}

p {
	text-align: center;
}

img {
	margin: 20px 0 40px 0;
}
